

@font-face {
  font-family: "Acme";
  src: url("./Fonts/Acme-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Patrick";
  src: url("./Fonts/PatrickHand-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Francois";
  src: url("./Fonts/FrancoisOne-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./Fonts/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
